#west {
    height: min-content;
}

#content {}

#calendar {
    max-width: 1200px;

    .fc-col-header-cell-cushion,
    .fc-daygrid-day-number {
        color: black;
        cursor: pointer;

        &:hover {
            outline: none;
        }
    }

    .fc-timegrid-slot-label {
        font-weight: bold;
    }

}

.userConfigModal {
    padding: 0;

    .swal2-modal {
        width: max-content;
    }

    input[type=checkbox] {
        transform: scale(1.25);
    }
}