#west {
    height: min-content;
}

#content {
    --redcap-btn-color: #337ab7;
    --redcap-btn-border: #2e6da4;
}

#calendar {
    max-width: 1200px;

    a:hover {
        outline: none;
        cursor: pointer;
    }

    .fc-col-header-cell-cushion,
    .fc-daygrid-day-number,
    .fc-list-day-text {
        color: black;
        cursor: pointer;

        &:hover {
            outline: none;
        }
    }

    .fc-timegrid-slot-label {
        font-weight: bold;
    }

}

#footerbar {

    @import (less) "./node_modules/choices.js/public/assets/styles/base.css";
    @import (less) "./node_modules/choices.js/public/assets/styles/choices.css";

    margin-top: 1rem;

    .choices__input {
        box-shadow: none;

        &::placeholder {
            color: inherit !important;
        }
    }

    .choices__list--multiple .choices__item {
        background-color: var(--redcap-btn-color);
        border: 1px solid var(--redcap-btn-border);
        border-radius: 5px;
    }

}

.userConfigModal {
    padding: 0;

    .swal2-modal {
        width: max-content;

        .expandRowsGroup {
            font-size: 11pt;
        }

        .swal2-html-container {
            width: 17.75em; // Arbitrary width that looks good
        }
    }

    .btn,
    .btn-primary,
    .btn-danger {
        &:focus {
            box-shadow: none;
        }
    }
}